// Colors
$blue: #009EE8;
$sky: #CFEFFF;
$gradient:#E3EEFA;
$red: #EF5C53;
$dark-blue:#0887CC;
$yellow:#FFF3C4;
$grey:#B3B3B3;
$white:#FFFFFF;
$brown:#45332D;
$burger-blue:#005898;
$text:#4D4D4D;

// Paddings
$padding-mobile: 17px;
$padding-tablet: 25px;
$padding-desktop: 40px;

// View-ports
$mobile-width-only: 767px;
$tablet-width-only: 1439px;
$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1440px;
