<section class="banks">
    <div class="banks__wrapper">
        <h2 class="banks__title">CONTACT INFORMATION OF BANKS:</h2>
        <ul class="banks__list">
            <li class="banks__item">
            <img src="app/images/bofi.png" alt="лого банка" class="banks__item-image">
            <div class="banks__item-wrapper">
                <p class="banks__item-title">BOFI:</p>
                <p class="banks__item-number">Customer Service:
                    <span>800-955-7070</span>
                </p>
            </div>
            </li>
            <li class="banks__item">
                <img src="app/images/metabank.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">METABANK:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
            <li class="banks__item">
                <img src="app/images/capital.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">CAPITAL BANK:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
            <li class="banks__item">
                <img src="app/images/simmons.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">SIMMONS FIRST:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
            <li class="banks__item">
                <img src="app/images/one.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">CAPITAL ONE&#174:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
            <li class="banks__item">
                <img src="app/images/mid.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">MID AMERICA BANK:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
            <li class="banks__item">
                <img src="app/images/credit.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">CREDIT ONE BANK&#174:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
            <li class="banks__item">
                <img src="app/images/usaa.png" alt="лого банка" class="banks__item-image">
                <div class="banks__item-wrapper">
                    <p class="banks__item-title">USAA:</p>
                    <p class="banks__item-number">Customer Service:
                        <span>800-955-7070</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>