<section class="contact">
        <div class="contact__wrapper">
            <div class="contact__breadcrumb">
                <ul class="contact__breadcrumb-list">
                    <li class="contact__breadcrumb-item">
                        <a class="contact__breadcrumb-link" href="#">Best credit offers</a>
                    </li>
                    <li class="contact__breadcrumb-item">
                        <a class="contact__breadcrumb-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="contact__container">
                <h1>Contact Us</h1>
                <div class="contact__container-text">
                    <p>We welcome your comments, questions, or any request you may have! If you would like to contact our staff, please complete the form below.</p>
                    <p>We will respond to your inquiries ASAP!</p>
                </div>
            </div>
        </div>
    </section>