<header class='header'>
    <div class="header__container">
        <nav class="header__navigation header__navigation--closed">
            <ul class="header__navigation-list">
                <li class="header__navigation-item">
                    <a href="#" class="header__navigation-link">
                        <img src="" alt="Логотип" class="header__navigation-image">
                    </a>
                </li>
                <li class="header__navigation-item">PREPAID & CREDIT OFFERS</li>
                <li class="header__navigation-item">RESOURCES</li>
                <li class="header__navigation-item">
                    <div class="header__navigation-search">
                        <input type="text" class="header__navigation-txt">
                        <a href="#" class="header__navigation-button">
                            <img src="" alt="Поиск">
                        </a>
                    </div>
                </li>
            </ul>
            <button class="header__navigation-toggle" type="button">
                <span class="visually-hidden">Открыть меню</span>
                <span class="header__navigation-toggle-burger"></span>
            </button>
        </nav>
    </div>
</header>