<header class='header'>
    <div class="header__container">
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-item">
                    <a href="index.html" class="header__navigation-link">
                        <img src="images/src/logo-mobile.png" alt="Логотип" class="header__navigation-image">
                    </a>
                </li>
                <li class="header__navigation-item">PREPAID & CREDIT OFFERS</li>
                <li class="header__navigation-item">RESOURCES</li>
                <li class="header__navigation-item">
                    <div class="header__navigation-search">
                        <input type="text" class="header__navigation-txt">
                        <a href="#" class="header__navigation-button">
                            <img src="images/src/search.svg" alt="Поиск">
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>