<section class="writeus">
    <h2 class="writeus__title">Write Us</h2>
    <div class="writeus__container">
        <div class="writeus__wrapper">
            <form action="#" method="post" id="form" class="writeus__form">
                <div class="writeus__form-item">
                    <p class="writeus__form-title">Subject<span class="star">*</span>:</p>
                    <div class="writeus__form-select" id="subjectDropdown">Select Subject</div>
                    <ul class="writeus__form-list" id="subjectOptions">
                      <li class="writeus__form-list--item" data-value="Building Credit History">Building Credit History</li>
                      <li class="writeus__form-list--item" data-value="Bad Credit">Bad Credit</li>
                      <li class="writeus__form-list--item" data-value="Credit Cards for Business">Credit Cards for Business</li>
                      <li class="writeus__form-list--item" data-value="General">General</li>
                      <li class="writeus__form-list--item" data-value="Balance Transfer">Balance Transfer</li>
                      <li class="writeus__form-list--item" data-value="Credit Card Rewards">Credit Card Rewards</li>
                      <li class="writeus__form-list--item" data-value="Good Credit">Good Credit</li>
                    </ul>
                </div>
                <div class="writeus__form-item">
                    <label for="formEmail" class="writeus__form-label">E-mail<span class="star">*</span>:</label>
                    <input type="text" id="formEmail" class="writeus__form-input" name="email">
                </div>
                <div class="writeus__form-item">
                    <label for="formName" class="writeus__form-label">Name<span class="star">*</span>:</label>
                    <input type="text" id="formName" class="writeus__form-input" name="name">
                </div>
                <div class="writeus__form-item">
                    <label for="formPhone" class="writeus__form-label">Phone number:</label>
                    <input type="tel" id="formPhone" class="writeus__form-input" name="phone">
                </div>
                <div class="writeus__form-item">
                    <label for="question" class="writeus__form-label">Question<span class="star">*</span>:</label>
                    <textarea name="question" id="question" class="writeus__form-input textarea"></textarea>
                </div>
                <div class="writeus__form-item">
                    <span class="writeus__form-requirements">* required fields</span>
                    <button type="button" class="writeus__form-button" id="submitButton">SEND</button>
                </div>
            </form>
        </div>
        <div class="writeus__info">
            <p>All information submitted on this form will remain completely confidential. 
                We <span class="bold">DO NOT sell</span> names or email addresses to third parties. </p>
                <br>
            <p>Please review our privacy policy for further information.</p>
            <br>
            <p>Please note:</p>
            <p>
                We <span class="bold">DO NOT issue credit cards</span> or have any type of personal credit card account information. 
                If you have questions pertaining to an existing credit card account, please contact the bank that issued the credit card directly.
            </p>
        </div>
    </div>
</section>