.writeus {
    width: 320px;
    padding: 30px $padding-mobile 30px $padding-mobile;
    margin: 0 auto;
    position: relative;
    @media (min-width: $tablet-width) {
        width: 768px;
        padding: 40px $padding-tablet 40px $padding-tablet;
    }
    @media (min-width: $desktop-width) {
        width: 1440px;
        padding: 60px $padding-desktop 60px $padding-desktop;
    }
}
.writeus__container {
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
    }
}
.writeus__wrapper {
    margin-bottom: 20px;
    @media (min-width: $desktop-width) {
    width: 706px;
    }
}
.writeus__title {
    color: $blue;
    text-align: center;
    font-family: "Arial",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 89px;
    margin: 0 auto 20px auto;
    text-transform: uppercase;
    @media (min-width: $tablet-width) {
        width: 108px;
        font-size: 22px;
        margin: 0 auto 40px 0;
    }
    @media (min-width: $desktop-width) {
        width: 118px;
        font-size: 24px;
        margin: 0 auto 60px 0;
    }
}
.writeus__form-label , 
.writeus__form-requirements ,
.writeus__info,
.writeus__form-title,
.writeus__form-item,
option {
    color: $text;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.writeus__form-title {
        @media (min-width: $tablet-width) {
            font-size: 18px;
            margin-top: 5px;
        }
}
.writeus__form-item:first-child {
    position: relative;
}
.writeus__form-list {
    width: 287px;
    padding: 10px 0 10px 0;
    border: 1px solid $grey;
    display: none;
    position: absolute;
    background-color: $white;
    @media (min-width: $tablet-width) { 
    left: 172px;
    top: 32px;
    width: 546px;
    }
    @media (min-width: $desktop-width) { 
        left: 160px;
        top: 32px;
        width: 546px;
    }

}
.writeus__form-list--item {
    width: 100%;
    padding: 10px 10px 10px 24px;
    cursor: pointer;
    @media (min-width: $tablet-width) { 
        font-size: 16px;
        padding: 10px;
    }
}
.writeus__form-list--item:hover {
    background-color: $blue;
    color: $white;
}
.writeus__form-item:last-child {
    margin-bottom: 0;
}
.writeus__form-label {
    @media (min-width: $tablet-width) {
        font-size: 18px;
        margin-top: 5px;
    }
}
.writeus__form-input,
.writeus__form-select {
    width: 287px;
    height: 32px;
    border: 1px solid $grey;
    margin-top: 10px;
    @media (min-width: $tablet-width) {
        font-size: 18px;
        width: 546px;
        margin: 0;
    }
}
.writeus__form-select {
    padding: 8px 10px 8px 10px;
    color: $grey;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    cursor: pointer;
    @media (min-width: $tablet-width) {
        font-size: 16px;
    }
}
.writeus__form-select::after  {
    position: absolute;
    width: 32px;
    height: 32px;
    content: url("../images/arrow.svg");
    background-color: $blue;
    top: -1px;
    right: -1px;
    padding-left: 11px;
    padding-top: 7px;
}
.writeus__form-select.close::after  {
    transform: rotate(180deg);
}
.textarea {
    height: 140px;
}
.textarea:focus {
    outline: none;
}
.star {
    color: $red;
}
.writeus__info{
    text-align: center;
    width: 287px;
    margin: 0 auto;
    @media (min-width: $tablet-width) {
        width: 721px;
        font-size: 16px;
        text-align: left;
        margin-top: 40px;
    }
    @media (min-width: $desktop-width) {
        width: 594px;
        font-size: 18px;
        text-align: left;
        margin: 40px 0 0 60px;
    }
}
.writeus__info span{
    font-weight: 700;
}
.writeus__form-button {
    background-color: $blue;
    width: 160px;
    height: 50px;
    color: $white;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
}
.writeus__form-item {
    margin-bottom: 20px;
    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: space-between;
    }
}
.writeus__form-requirements {
    color: $red;
    margin: auto 0;
    @media (min-width: $tablet-width) {
        font-size: 16px;
        margin: 0 0 0 172px;
    }
    @media (min-width: $desktop-width) {
        font-size: 16px;
        margin: 0 0 0 161px;
    }
}
.writeus__form-item:last-child {
    display: flex;
    justify-content: space-between;
}
.writeus__form-select option {
    width: 287px;
}
.selected {
    color: $text;
}
.writeus__form-input {
    padding: 8px 10px 8px 10px;
}
.error {
    border: 1px solid red;
}
.hidden-input {
    display: none;
}
